body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background: radial-gradient(circle at 150px 100px, #6D6E6A,#42433E);
	font-family: sans-serif;
}
.container {
	width: 700px;
	margin: 0 auto;

}
.indentation {
	height: 50px;
}
.bg_base {
	position: relative;
	min-height: 400px;
	background: #282923;
	box-sizing: border-box;
	border-radius: 14px;
	box-shadow: 0 0 100px rgba(0,0,0,0.7);
}
.base {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 690px;
	height: 390px;
	text-align: center;
	padding: 50px 0;
	box-sizing: border-box;
	border-radius: 12px;
	border: 1px solid #42433E;
}
h1 {
	text-transform: uppercase;
	font-size: 26px;
	color: #fff;
	background: #282923;
	padding-bottom: 20px;
	font-weight: normal;
}
input {
	text-align: center;
	color: #000;
	font-size: 18px;
	border: 2px solid #6D6E6A;
	background: #B6B8B2;
	font-weight: normal;
}
p {
	color: #fff;
	font-size: 18px;
	width: auto;
	max-width: 400px;
	margin: 50px auto;
}